/* --- Context Menu --- */
#contentAreaContextMenu {
  max-width: 280px !important;
}

#tabContextMenu {
  max-width: 250px !important;
}

#confirmation-hint {
  --arrowpanel-color: var(--sidebar-text-color) !important;
}

/* Style for menu separators */
menuseparator {
  &::before {
    opacity: 0.3;
  }

  /* Hide the first separator*/
  &:first-of-type {
    display: none !important;
  } 
  &:nth-of-type(4) {
    display: none !important;
  }

  &:nth-of-type(7) {
    display: none !important;
  }
}

/* compact menu */
menupopup > :is(menuitem, menu) {
  height: fit-content !important;
  padding-block: 2px !important;
  will-change: auto;
}

:is(menuitem, menu).bookmark-item {
  padding-inline: 8px !important;
  .menu-iconic-left {
    margin-inline: 0px 3px !important;
  }
}

:is(.bookmark-item, #PlacesChevron, #bookmarks-menu-button, #sidebarMenu-popup) 
:is(menuitem, menu) {
  margin-inline: 0px !important;
}

/* Apply Zen workspace gradient to all context menu and panels*/
menupopup, panel {
  background-color: transparent !important;
  transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out !important;
  --panel-background: light-dark(rgba(255, 255, 255, 0.9), rgba(10, 10, 10, 0.8)) !important;
  transform: translateZ(0);
  will-change: auto;
}

menuitem:hover,
menu:hover,
menuitem:hover:active,
menu:hover:active,
menuitem[_moz-menuactive="true"],
menu[_moz-menuactive="true"] {
  background-color: color-mix(in srgb, AccentColor 30%, rgba(255, 255, 255, 0.08)) !important;
  box-shadow: inset 0 0 0 1px color-mix(in srgb, AccentColor 40%, rgba(255, 255, 255, 0.3)) !important;
}

menuitem:not(:hover),
menu:not(:hover) {
  background-color: transparent !important;
  border-radius: 15px !important;
  box-shadow: inset 0 0 0 1px transparent !important;
}

/* Debloat tab name */
#context_zen-add-essential::before {
  content: "Add to Essentials" !important;
}

#context_zen-add-essential>.menu-text {
  display: none !important;
}box-shadow: inset 0 0 0 1px color-mix(in srgb, AccentColor 40%, rgba(255, 255, 255, 0.3)) !important

#context_bookmarkTab::before {
  content: "Bookmark Tab" !important;
}

#context_bookmarkTab>.menu-text {
  display: none !important;
}

#context-zen-change-workspace-tab {
  display: none  !important;
}

#context-zen-change-workspace-tab::after {
  display: none !important;
}

#context-zen-change-workspace-tab>.menu-text {
  display: none !important;
}

#context_zenSplitTabs::before {
  content: "Split Tab..." !important;
}

#context_zenSplitTabs>.menu-text {
  display: none !important;
}

#context_zen-replace-pinned-url-with-current::before {
  content: "Replace Pinned URL" !important;
}

#context_zen-replace-pinned-url-with-current>.menu-text {
  display: none !important;
}

#context-searchselect-private::before {
  content: "Search in a Private Window" !important;
}

#context-searchselect-private>.menu-text {
  display: none !important;
}

/* Hiding unnecessary context menu */
#context-savepage,
#context-sendpagetodevice,
#context-sep-sendlinktodevice,
#context-sendlinktodevice,
#context-print-selection,
#context-searchselect-private,
#context-openlinkinusercontext-menu,
#context-openlinkinnewcontainercontext-menu,
#context-openlinkprivate,
#context-bookmarklink,
#context-openlink,
#context-stripOnShareLink[disabled="true"],
#context-inspect,
#inspect-separator,
#context-sep-screenshots,
#context-media-eme-separator,
#context-video-fullscreen,
#context-leave-dom-fullscreen,
#context-viewvideo,
#context-media-sep-video-commands,
#context-media-loop,
#context-media-playbackrate>.menu-right,
#context-sep-open {
  display: none !important;
}
#context-sendimage,
#context-sep-sharing,
#context-sep-setbackground,
#context-savelink,
#context-zenSplitLink,
#context-zenAddToWebPanel,
#context-sendvideo,
#context-viewimageinfo {
  display: none !important;
}

/* Sidebar tab options */
#context_openANewTab,
#context_reopenInContainer,
#context_zenTabActions,
#context_closeTab,
#context_closeDuplicateTabs[disabled="true"],
#context_zenSplitTabs[disabled="true"],

/* Sidebar toolbar options */
#toggle_toolbar-menubar,
#toolbar-context-undoCloseTab,
#toolbar-context-selectAllTabs,
#toolbar-context-bookmarkSelectedTab,
#toolbar-context-bookmarkSelectedTabs,
#toolbar-context-reloadSelectedTab,
#toolbar-context-reloadSelectedTabs,
#context-inspect-a11y,
#viewToolbarsMenuSeparator,
#toolbarItemsMenuSeparator,
#toolbarNavigatorItemsMenuSeparator {
  visibility: collapse !important;
}
