/* === COMPACT MENU === */
:root {
  --arrowpanel-menuitem-padding-block: 2px !important;
} 

menupopup > :is(menuitem, menu) {
  height: fit-content !important;
  padding-block: 2px !important;

}

#contentAreaContextMenu {
  max-width: 280px !important;
}

#tabContextMenu {
  max-width: 250px !important;
}

#confirmation-hint {
  --arrowpanel-color: var(--sidebar-text-color) !important;
}

/* Style for menu separators */
menuseparator {
  &::before {
    opacity: 0.3;
 }
  &:nth-of-type(4),
  &:nth-of-type(7) {
    display: none !important;
  }
}

/* Style */
menupopup, panel {
  background-color:light-dark(rgba(10, 10, 10, 0.2), rgba(0, 0, 0, 0.8)) !important;
}

menuitem:hover {
  background-color: color-mix(in srgb, AccentColor 30%, transparent) !important;
  box-shadow: inset 0 0 0 1px color-mix(in srgb, AccentColor 50%, transparent) !important;
}


/* Debloat tab name */
menuitem.badge-new::after {
  display: none !important;
}

#context_zen-add-essential::after {
  display: none !important;
}

#context_zen-add-essential::before {
  content: "Add to Essentials" !important;
}

#context_zen-add-essential>.menu-text {
  display: none !important;
}

#context_bookmarkTab::before {
  content: "Bookmark Tab" !important;
}

#context_bookmarkTab>.menu-text {
  display: none !important;
}

#context-zen-change-workspace-tab {
  display: none  !important;
}

#context-zen-change-workspace-tab::after {
  display: none !important;
}

#context-zen-change-workspace-tab>.menu-text {
  display: none !important;
}

#context_zenSplitTabs::before {
  content: "Split Tab..." !important;
}

#context_zenSplitTabs>.menu-text {
  display: none !important;
}

#context_zen-replace-pinned-url-with-current::before {
  content: "Replace Pinned URL" !important;
}

#context_zen-replace-pinned-url-with-current>.menu-text {
  display: none !important;
}

#context-searchselect-private::before {
  content: "Search in a Private Window" !important;
}

#context-searchselect-private>.menu-text {
  display: none !important;
}

/* Hiding unnecessary context menu */
#context-savepage,
#context-sendpagetodevice,
#context-sep-sendlinktodevice,
#context-sendlinktodevice,
#context-print-selection,
#context-searchselect-private,
#context-openlinkinusercontext-menu,
#context-openlinkinnewcontainercontext-menu,
#context-openlinkprivate,
#context-bookmarklink,
#context-openlink,
#context-stripOnShareLink[disabled="true"],
#context-inspect,
#inspect-separator,
#context-sep-screenshots,
#context-media-eme-separator,
#context-video-fullscreen,
#context-leave-dom-fullscreen,
#context-viewvideo,
#context-media-sep-video-commands,
#context-media-loop,
#context-media-playbackrate>.menu-right,
#context-sep-open {
  display: none !important;
}
#context-sendimage,
#context-sep-sharing,
#context-sep-setbackground,
#context-savelink,
#context-zenSplitLink,
#context-zenAddToWebPanel,
#context-sendvideo,
#context-viewimageinfo {
  display: none !important;
}

/* Sidebar tab options */
#context_openANewTab,
#context_reopenInContainer,
#context_zenTabActions,
#context_closeTab,
#context_closeDuplicateTabs[disabled="true"],
#context_zenSplitTabs[disabled="true"],

/* Sidebar toolbar options */
#toggle_toolbar-menubar,
#toolbar-context-undoCloseTab,
#toolbar-context-selectAllTabs,
#toolbar-context-bookmarkSelectedTab,
#toolbar-context-bookmarkSelectedTabs,
#toolbar-context-reloadSelectedTab,
#toolbar-context-reloadSelectedTabs,
#context-inspect-a11y,
#viewToolbarsMenuSeparator,
#toolbarItemsMenuSeparator,
#toolbarNavigatorItemsMenuSeparator {
  visibility: collapse !important;
}
