/* Compact Context menu */
#contentAreaContextMenu,
#tabContextMenu { max-width: 250px !important; }

/* Menu Item Styles */
  :is(menuitem, menu, .subviewbutton) {
    padding-block: 3px !important;
    transition: all 0.2s ease-in-out !important;
      
    & :is(.menu-text, .toolbarbutton-text) {
      padding: 1.5px !important;
      transition: all 0.2s ease-in-out !important;
    }

    &:hover > :is(.menu-text, .toolbarbutton-text) {
     translate: 4px 0 !important;
    }
  }

  [hasbeenopened="true"]:has(menu[open="true"]) {
    & > menuitem,
    & > menu:not([open="true"]) {
      opacity: 0.3 !important;
    }
  }

/* Style for menu separators */
menuseparator {
  &::before {
    opacity: 0.3;
 }
 
  &:nth-of-type(2),
  &:nth-of-type(4),
  &:nth-of-type(7){
    display: none !important;
  }
}

/* Panel and Popup Backgrounds */
menupopup, panel {
  --panel-background: color-mix(in srgb, var(--zen-colors-primary) 80%, transparent) !important;
  --panel-border-radius: var(--zen-native-inner-radius) !important;
}

/* Hover States*/
:is(menuitem, menu) {
  transition: background-color 0.1s, box-shadow 0.1s !important;

  &:hover {
    background-color: color-mix(in srgb, AccentColor 30%, transparent) !important;
    box-shadow: inset 0 0 0 1px color-mix(in srgb, AccentColor 50%, transparent) !important;
  }

  &:not(:hover) {
    background-color: none;
    box-shadow: none;
  }
}

/* Hide elements and pseudo-elements */
#context-savepage,
#context-sendpagetodevice,
#context-sep-sendlinktodevice,
#context-sendlinktodevice,
#context-print-selection,
#context-searchselect-private,
#context-openlinkinusercontext-menu,
#context-openlinkinnewcontainercontext-menu,
#context-openlinkprivate,
#context-bookmarklink,
#context-openlink,
#context-stripOnShareLink[disabled="true"],
#context-inspect,
#inspect-separator,
#context-sep-screenshots,
#context-media-eme-separator,
#context-video-fullscreen,
#context-leave-dom-fullscreen,
#context-viewvideo,
#context-media-sep-video-commands,
#context-media-loop,
#context-media-playbackrate>.menu-right,
#context-sep-open,
#context-sendimage,
#context-sep-sharing,
#context-sep-setbackground,
#context-savelink,
#context-zenSplitLink,
#context-zenAddToWebPanel,
#context-sendvideo,
#context-viewimageinfo {
  display: none !important;
}

/* Sidebar tab options */
#context_openANewTab,
#context_sendlinktodevice,
#context_reopenInContainer,
#context_zenTabActions,
#context_closeTab,
#context_closeDuplicateTabs[disabled="true"],
#context_zenSplitTabs[disabled="true"],

/* Sidebar toolbar options */
#toggle_toolbar-menubar,
#toolbar-context-bookmarkSelectedTab,
#toolbar-context-bookmarkSelectedTabs,
#toolbar-context-reloadSelectedTab,
#toolbar-context-reloadSelectedTabs,
#context-inspect-a11y,
#viewToolbarsMenuSeparator,
#toolbarItemsMenuSeparator,
#toolbarNavigatorItemsMenuSeparator {
  visibility: collapse !important;
}
