/* Width Constraints */
#contentAreaContextMenu { max-width: 250px important; }
#tabContextMenu { max-width: 230px !important; }

/* Menu Item Styles */
:is(menuitem, menu, .subviewbutton) {
  height: fit-content !important;
  padding-block: 3px !important;

  & .menu-text {
    padding: 1.5px 5px !important;
    transition: transform 0.25s ease-in-out !important;
  }

  &:hover > .menu-text {
    transform: translateX(4px) !important;
  }
}

/* Style for menu separators */
menuseparator {
  &::before {
    opacity: 0.3;
 }
  &:nth-of-type(7) {
    display: none !important;
  }
}

/* Panel and Popup Backgrounds */
menupopup, panel {
  --panel-background: light-dark(rgba(255, 255, 255, 0.8), rgba(10, 10, 10, 0.8)) !important;
  --panel-border-radius: var(--zen-native-inner-radius) !important;
}

/* Hover States*/
:is(menuitem, menu) {
  transition: background-color 0.1s, box-shadow 0.1s !important;

  &:hover {
    background-color: color-mix(in srgb, AccentColor 30%, transparent) !important;
    box-shadow: inset 0 0 0 1px color-mix(in srgb, AccentColor 50%, transparent) !important;
  }

  &:not(:hover) {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 1px transparent !important;
  }
}

/* Set pseudo-element content */
#context_zen-add-essential::before { content: "Add to Essentials" !important; }
#context_bookmarkTab::before { content: "Bookmark Tab" !important; }
#context_zenSplitTabs::before { content: "Split Tab..." !important; }
#context_zen-replace-pinned-url-with-current::before { content: "Replace Pinned URL" !important; }
#context-searchselect-private::before { content: "Search in a Private Window" !important; }


/* Hide elements and pseudo-elements */
menuitem.badge-new::after,
#context_zen-add-essential::after,
#context-zen-change-workspace-tab,
#context-zen-change-workspace-tab::after,
#context-zen-change-workspace-tab > .menu-text,
#context_zen-add-essential > .menu-text,
#context_bookmarkTab > .menu-text,
#context_zenSplitTabs > .menu-text,
#context_zen-replace-pinned-url-with-current > .menu-text,
#context-searchselect-private > .menu-text {
  display: none !important;
}

/* Hiding unnecessary context menu */
#context-savepage,
#context-sendpagetodevice,
#context-sep-sendlinktodevice,
#context-sendlinktodevice,
#context-print-selection,
#context-searchselect-private,
#context-openlinkinusercontext-menu,
#context-openlinkinnewcontainercontext-menu,
#context-openlinkprivate,
#context-bookmarklink,
#context-openlink,
#context-stripOnShareLink[disabled="true"],
#context-inspect,
#inspect-separator,
#context-sep-screenshots,
#context-media-eme-separator,
#context-video-fullscreen,
#context-leave-dom-fullscreen,
#context-viewvideo,
#context-media-sep-video-commands,
#context-media-loop,
#context-media-playbackrate>.menu-right,
#context-sep-open {
  display: none !important;
}
#context-sendimage,
#context-sep-sharing,
#context-sep-setbackground,
#context-savelink,
#context-zenSplitLink,
#context-zenAddToWebPanel,
#context-sendvideo,
#context-viewimageinfo {
  display: none !important;
}

/* Sidebar tab options */
#context_openANewTab,
#context_reopenInContainer,
#context_zenTabActions,
#context_closeTab,
#context_closeDuplicateTabs[disabled="true"],
#context_zenSplitTabs[disabled="true"],

/* Sidebar toolbar options */
#toggle_toolbar-menubar,
#toolbar-context-bookmarkSelectedTab,
#toolbar-context-bookmarkSelectedTabs,
#toolbar-context-reloadSelectedTab,
#toolbar-context-reloadSelectedTabs,
#context-inspect-a11y,
#viewToolbarsMenuSeparator,
#toolbarItemsMenuSeparator,
#toolbarNavigatorItemsMenuSeparator {
  visibility: collapse !important;
}
