/* ======================== FINDBAR ======================== */
findbar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: min(30%);
  min-height: 30px;
  height: auto !important;
  flex-wrap: wrap;
  border-radius: 12px;
  background: rgba(10, 10, 10, 0.2) !important;
  border: 1px solid light-dark(rgba(10, 10, 10, 0.2), rgba(235, 235, 235, 0.3)) !important;
  opacity: 1;
  transition: background 0.2s ease, opacity 0.2s ease, visibility 0.2s ease,
  top 0.2s ease, box-shadow 0.2s ease !important;
  backdrop-filter: blur(20px);
  
  & .findbar-container {
    flex-wrap: wrap;
    overflow-x: auto !important;
    height: auto !important;
    row-gap: 10px;

    & > :first-child {
      width: 100% !important;
    }

    & .findbar-textbox {
      flex-grow: 1;
    }
  }

  &[hidden="true"] {
    top: -150px;
  }

  @starting-style {
    top: -150px;
  }
}

.findbar-highlight, .findbar-case-sensitive, .findbar-match-diacritics, .findbar-entire-word { 
  display: none !important;
}

.findbar-container>.findbar-find-status {
  display: none !important;
}

.findbar-label.found-matches { 
  margin-inline-start: -2em !important;
  position: fixed !important;
  left: 200px !important;
}

.findbar-closebutton, .findbar-find-previous, .findbar-find-next {
  scale: 1 !important;
  &:hover {
    transform: scale(1.08) !important;
  }
}
