:root[zen-compact-mode="true"]:not([inDOMFullscreen="true"]) {
  .browserSidebarContainer {
    border-radius: 0 0 var(--zen-element-separation) var(--zen-element-separation) !important;
  }
}

/* --- Compact Sidebar --- */
:root[zen-compact-mode="true"]:not([customizing]):not([inDOMFullscreen="true"]) {
    #navigator-toolbox:not([animate="true"]) #titlebar::before,
    #navigator-toolbox:not([animate="true"]) #titlebar::after {
      content: "";
      position: absolute;
      background-color: light-dark(rgba(100, 100, 100, 0.3), rgba(5, 5, 5, 0.9)) !important;
      box-shadow: inset 0 0 0 1px light-dark(rgba(255, 255, 255, 0.8), rgba(25, 25, 25, 0.8)) !important;
      border-radius: 15px !important;
      backdrop-filter: blur(10px) !important;
    }
}

body:has([zen-compact-mode="true"]) #titlebar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  isolation: isolate;
}

body:has([zen-compact-mode="true"]) .zen-toolbar-background {
  opacity: var(--zen-grainy-background-opacity, 1);
}
