/* General tweaks */
.browserStack {
  transform: translateZ(0);
}

#statuspanel-label {
  background-color: color-mix(in srgb, var(--zen-colors-primary) 80%, transparent) !important;
  backdrop-filter: blur(10px) ;
}

:root,
#zen-main-app-wrapper {
  background-color: color-mix(in srgb, var(--zen-colors-primary) 70%, transparent) !important;
}  

/* Media Player */
  #zen-media-controls-toolbar > toolbaritem:nth-child(1) {
    background-color: color-mix(in srgb, var(--zen-colors-primary-foreground) 10%, transparent) !important;
    backdrop-filter: blur(10px) !important;
  }
  
  #zen-media-controls-toolbar.playing {
    toolbaritem {
      background-color: color-mix(in srgb, var(--zen-colors-primary-foreground) 15%, transparent) !important;
    }
  }

/* hide scrollbar */
  scrollbox {
    scrollbar-width: none !important;
  }
  

  :root[zen-single-toolbar="true"] #zen-appcontent-navbar-wrapper {
    max-height: var(--zen-element-separation) !important;
    margin-top: 0px;
  }
  
/* Workspace indicator */
 .zen-current-workspace-indicator {
  display: none!important;
}

/* Base state */
#zen-workspaces-button .subviewbutton:not([active="true"]) {
  opacity: 0 !important;
  max-width: 0 !important;
  margin-inline: 0 !important;
  padding-inline: 0 !important;
  pointer-events: none !important;
  overflow: hidden !important;
  transition: 
    opacity 0.15s ease-in-out, 
    max-width 0.15s ease-in-out, 
    margin 0.15s ease-in-out, 
    padding 0.15s ease-in-out !important;
}

/* Hover state */
#zen-workspaces-button:hover .subviewbutton:not([active="true"]) {
  opacity: 1 !important;
  max-width: 100px !important;
  margin-inline: 2px !important; 
  pointer-events: auto !important;
}

/* -------------------------- Compact Sidebar -------------------------- */
:root[zen-compact-mode="true"] #titlebar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  isolation: isolate;
}

.zen-toolbar-background {
  opacity: var(--zen-grainy-background-opacity);
}

:root[zen-compact-mode="true"] #navigator-toolbox:not([animate="true"]) #titlebar::before {
  background-color: color-mix(in srgb, var(--zen-colors-primary) 90%, transparent) ;
  box-shadow: inset 0 0 0 1px color-mix(in srgb, var(--zen-colors-primary) 80%, white);
  border-radius: var(--zen-native-inner-radius);
  backdrop-filter: blur(10px) saturate(140%);
  }
  
:root[zen-compact-mode="true"] {
  .browserSidebarContainer {
    border-radius: 0 0 var(--zen-element-separation) var(--zen-element-separation) !important;  
  }
}

/* PanelUI */
#appMenu-new-tab-button2,
#appMenu-new-window-button2,
#appMenu-new-private-window-button2,
#appMenu-new-private-window-button2 + toolbarseparator {
display: none !important;
}

/* Limit height and width of history panel */
#appMenu-library-recentlyClosedTabs,
.PanelUI-subView[id*="history"] {
    max-height: 500px !important;
    max-width: 300px !important;
    overflow-y: auto !important;
}

/* Cleaner bookmark menu */
#BMB_viewBookmarksSidebar,
#BMB_searchBookmarks,
#BMB_bookmarksShowAllTop,
#BMB_bookmarksShowAll {
  display: none !important;
}

#bookmarks-menu-button #BMB_viewBookmarksToolbar {
  display: none !important;
}

#BMB_bookmarksPopup menuseparator {
  display: none;
}

/* --- Better customize toolbar by Tanay-Kar --- */
#customization-container {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  height: 85%;
  width: 80%;
  border-radius: var(--zen-native-inner-radius);
  padding: 10px;
  background-color: color-mix(in srgb, var(--zen-colors-primary) 50%, transparent) !important;
}

@media (-moz-bool-pref: "zen.tabs.vertical.right-side") {
  #customization-container {
    left: 10px;
  }

  #customization-container #customization-content-container {
    flex-direction: row-reverse;
  }
}

#customization-container #customization-panel-container {
  padding: 10px !important;
}


#customization-container #customization-panelWrapper {
  --panel-arrow-offset: 0px;
}

#customization-container .panel-arrowbox {
  display: none !important;
}
