/* Tab Group */
@media (-moz-platform: linux) {
  :root {
    --sidebar-text-color: rgba(255, 255, 255, 1) !important;
  }
}

tab-group:not([split-view-group]) {
  display: grid !important;
  background: color-mix(in srgb, var(--tab-group-color-invert) 15%, transparent) !important;
  box-shadow:  0 0 0 1px inset color-mix(in srgb, var(--tab-group-color-invert) 30%, transparent) !important;
  margin: 2px 0 2px 0 !important;
  border-radius: var(--border-radius-medium);
  padding: 5px 2px !important;
  max-height: 700px !important;
  transition: max-height 0.2s ease !important;
  overflow: hidden !important;
  transform: translateZ(0);
  will-change: auto;
  @media (-moz-pref("zen.view.sidebar-expanded")) {
    width: var(--tab-max-width) !important;
  }
   
  &[collapsed]:hover {
    background-color: color-mix(in srgb, var(--tab-group-color-invert) 25%, transparent) !important;
    transform: translateY(-1px) scale(1.03) ;
  }
   
  & tab {
    transition: opacity 0.5s ease !important;
    transform: translateZ(0);
    will-change: auto;
  }

  &>vbox {
    padding-top: 0px !important;
  }
   
  /* group icon */
  & .tab-group-label-container {
    position: relative !important;
    margin: 0 !important;
    height: 24px !important;
    border-radius: calc(var(--border-radius-medium) + 2px) !important;
    transition: transform 0.2s ease;
    transition: background-color 0.2s ease, border-radius 0.2s ease-in-out;
    display: block !important;
    transform: translateZ(0);
    will-change: auto;

    &:after {
      transition: transform 0.2s ease-out !important;
      display: none !important;
      padding: 0px !important;
    }

    &>label {
      width: 100% !important;
      background: transparent !important;
      border: unset !important;
      font-weight: 1000 !important;
      text-align: unset !important;
      color: var(--sidebar-text-color) !important;
      padding-left: 23px !important;
      margin: 0 !important;
      margin-top: 0 !important;
      outline: none !important;
    }

    &>label::before {
      content: "" !important;
      position: absolute !important;
      left: 6px !important;
      top: 12% !important;
      width: 18px !important;
      height: 18px !important;
      background: var(--sidebar-text-color) !important;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjAgOS41MDJWOC43NWEyLjI1IDIuMjUgMCAwIDAtMi4yNS0yLjI1aC01LjcyNWwtMi4zOC0xLjk4QTIuMjUgMi4yNSAwIDAgMCA4LjIwNCA0SDQuMjVBMi4yNSAyLjI1IDAgMCAwIDIgNi4yNWwtLjAwNCAxMS41QTIuMjUgMi4yNSAwIDAgMCA0LjI0NiAyMEgxOC40N2ExLjc1IDEuNzUgMCAwIDAgMS42OTgtMS4zMjVsMS43NS02Ljk5OGExLjc1IDEuNzUgMCAwIDAtMS42OTgtMi4xNzVIMjBaTTQuMjUgNS41aDMuOTU2YzAuMjggMCAwLjU0OSAwLjEwMiAwLjc1IDAuMjg1bDIuNTg4IDIuMTU0YzAuMiAwLjE4MyAwLjQ3IDAuMjg1IDAuNzUgMC4yODVoNS45OTZhMS4wNSAxLjA1IDAgMCAxIDEuMDUgMS4wNXYwLjc1Mkg2LjQyNGEyLjI1IDIuMjUgMCAwIDAtMi4xODMgMS43MDRsLTAuNzQ0IDIuOTc4TDMuNSA2LjI1YTEuMDUgMS4wNSAwIDAgMSAxLjA1LTEuMDVabTEuNDQ3IDYuMDdhMS4wNSAxLjA1IDAgMCAxIDEuMDItMC44MUgyMC4yMmEwLjQ1IDAuNDUgMCAwIDEgMC40MzcgMC41NThsLTEuNzUgNi45OTlhMC40NSAwLjQ1IDAgMCAxLTAuNDM3IDAuMzQxSDQuMjg1YTAuNDUgMC40NSAwIDAgMS0wLjQzNy0wLjU1OGwxLjY1NS02LjYyWiIgZmlsbD0iIzAwMDAwMCIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjAuNSIvPjwvc3ZnPg==");
      mask-size: contain;
      mask-repeat: no-repeat;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-color: color-mix(
        in srgb,
        var(--tab-group-color-invert) 100%,
        transparent
      ) !important;
    }
  }

  &[collapsed] {
    overflow: hidden !important;
    max-height: 3rem !important;
    transition: transform 0.2s ease-out !important;

    & tab {
      display: flex !important;
      opacity: 0 !important;
      padding: 0 !important;
      font-size: 0 !important;
      margin: 0 !important;
      transition: opacity 0.25s ease-in, font-size 0.25s ease-out, margin 0.25s ease-out, padding 0.25s ease-out !important;
    }

    & .tab-group-label-container>label {
      background: transparent !important;
      border: unset !important;
      font-weight: 1000 !important;
      text-align: unset !important;
      color: var(--sidebar-text-color) !important;
      padding-left: 23px !important;
    }

    & .tab-group-label-container>label::before{
      width: 18px !important;
      height: 18px !important;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC4yMDcgNGMuNDYgMCAuOTA4LjE0MSAxLjI4NC40MDJsLjE1Ni4xMkwxMi4wMjIgNi41aDcuNzI4YTIuMjUgMi4yNSAwIDAgMSAyLjIyOSAxLjkzOGwuMDE2LjE1OC4wMDUuMTU0djlhMi4yNSAyLjI1IDAgMCAxLTIuMDk2IDIuMjQ1TDE5Ljc1IDIwSDQuMjVhMi4yNSAyLjI1IDAgMCAxLTIuMjQ1LTIuMDk2TDIgMTcuNzVWNi4yNWEyLjI1IDIuMjUgMCAwIDEgMi4wOTYtMi4yNDVMNC4yNSA0aDMuOTU3Wm0xLjQ0IDUuOTc5YTIuMjUgMi4yNSAwIDAgMS0xLjI0NC41MTJsLS4xOTYuMDA5LTQuNzA3LS4wMDF2Ny4yNTFjMCAuMzguMjgyLjY5NC42NDguNzQzbC4xMDIuMDA3aDE1LjVhMS4wNSAxLjA1IDAgMCAwIDEuMDQzLS45MDZsLjAwNy0uMTQ0di05YTEuMDUgMS4wNSAwIDAgMC0uOTA2LTEuMDQzTDE5Ljc1IDhoLTcuNzI5TDkuNjQ3IDkuOTc5Wk04LjIwNyA1LjVINC4yNWExLjA1IDEuMDUgMCAwIDAtMS4wNDMuOTA2TDMuNSA2LjI1djIuNzQ5TDguMjA3IDlhMS4wNSAxLjA1IDAgMCAwIC41NTMtLjE1OGwuMTE5LS4wODQgMS44OTEtMS41NzgtMS44OS0xLjU3NWExLjA1IDEuMDUgMCAwIDAtLjUyNy0uMjM0TDguMjA3IDUuNVoiIGZpbGw9IiMwMDAwMDAiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIwLjUiLz48L3N2Zz4=")
    }
  }

  /* Arrow icon */
  & .tab-group-label-container {
    transition: transform 0.2s ease;

    &:after {
      transition: transform 0.2s ease;
      display: none !important;
    }

    &>label {
      display: flex !important;
      justify-content: space-between !important;
      background: transparent !important;
      border: unset !important;
      border-radius: 0px !important;
      margin-inline: 6px 4px !important;
    }

    &>label::after {
      content: "" !important;
      position: relative !important;
      top: 50% !important;
      transform: translateY(-50%) rotate(180deg) !important;
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
      width: 12px !important;
      height: 12px !important;
      background: var(--tab-group-color-invert) !important;
      mask-image: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik00MTMuMSAzMjcuM2wtMS44LTIuMS0xMzYtMTU2LjVjLTQuNi01LjMtMTEuNS04LjYtMTkuMi04LjYtNy43IDAtMTQuNiAzLjQtMTkuMiA4LjZMMTAxIDMyNC45bC0yLjMgMi42Qzk3IDMzMCA5NiAzMzMgOTYgMzM2LjJjMCA4LjcgNy40IDE1LjggMTYuNiAxNS44aDI4Ni44YzkuMiAwIDE2LjYtNy4xIDE2LjYtMTUuOCAwLTMuMy0xLjEtNi40LTIuOS04Ljl6Ii8+PG1ldGFkYXRhPjxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgeG1sbnM6cmRmcz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC8wMS9yZGYtc2NoZW1hIyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIj48cmRmOkRlc2NyaXB0aW9uIGFib3V0PSJodHRwczovL2ljb25zY291dC5jb20vbGVnYWwjbGljZW5zZXMiIGRjOnRpdGxlPSJhcnJvdyx1cCxiIiBkYzpkZXNjcmlwdGlvbj0iYXJyb3csdXAsYiIgZGM6cHVibGlzaGVyPSJJY29uc2NvdXAiIGRjOmRhdGU9IjIwMTctMDktMjQiIGRjOmZvcm1hdD0iaW1hZ2Uvc3ZnK3htbCIgZGM6bGFuZ3VhZ2U9ImVuIj48ZGM6Y3JlYXRvcj48cmRmOkJhZz48cmRmOmxpPkJlbmphbWluIEogU3BlcnJ5PC9yZGY6bGk+PC9yZGY6QmFnPjwvZGM6Y3JlYXRvcj48L3JkZjpEZXNjcmlwdGlvbj48L3JkZjpSREY+PC9tZXRhZGF0YT48L3N2Zz4=");
      mask-size: contain;
    }
  }

  &[collapsed] {
    overflow: hidden !important;
    max-height: 3rem !important;
     
    & tab {
      display: flex !important;
      pointer-events: none !important;
      opacity: 0 !important;
      transform: translateY(-10px) !important;
      transition: opacity 0.25s ease-in, font-size 0.25s ease-out, margin 0.25s ease-out, padding 0.25s ease-out !important;

      .tab-text {
        overflow: visible !important;
      }
    }

    & .tab-group-label-container>label {
      background: transparent !important;
      border: unset !important;
      font-weight: 1000 !important;
      text-align: unset !important;
      color: var(--sidebar-text-color) !important;
    }

    & .tab-group-label-container>label::after {
      transform: translateY(-50%) rotate(90deg) !important;
    }
  }

  &:not([collapsed]) {
    max-height: 500px !important;
    overflow: scroll !important;
    scrollbar-width: none !important;

    & tab:not([zen-glance-tab]) {
      padding-right: 1px !important;
    }
  }

  tab-group:has(tab[hidden]) {
    display: none !important;
  }

  & tab:not([zen-glance-tab]) {
    overflow: visible !important;

    &:active {
      transition: scale 0.03s !important;
      scale: 1;
    }

    .tab-group-line {
      --tab-group-color-invert: transparent !important;
      --tab-group-color: transparent !important;
    }

    margin-left: 3px !important;
    margin-right: 1px !important;
  }

  tab::before {
    background: none !important;
  }
}

tab-group[collapsed] .tab-group-container {
  visibility: hidden !important;
  height: 0 !important;
  min-height: 0 !important;
  transform: none !important;
}
