/* URLbar styling */
/* --- Floating Mode --- */
#urlbar[open][zen-floating-urlbar='true'] .urlbar-background {
  backdrop-filter: blur(10px) !important;
  background-color: light-dark(rgba(30, 30, 30, 0.4), rgba(5, 5, 5, 0.8)) !important;
  box-shadow: light-dark(0 4px 12px rgba(0, 0, 0, 0.15), 0 4px 12px rgba(0, 0, 0, 0.5)) !important;
}

/* --- Base Styles --- */
#urlbar:not([zen-floating-urlbar='true']):not([open]) .urlbar-background,
#urlbar:not([zen-floating-urlbar='true']):not([open]) .urlbar-input-container {
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#urlbar:not([zen-floating-urlbar='true']):not([open]) .urlbar-background {
  background-color: color-mix(in srgb, var(--zen-colors-primary-foreground) 15%, transparent) !important;
  box-shadow: inset 0 0 0 1px light-dark(rgba(255, 255, 255, 0.2), rgba(100, 100, 100, 0.5)) !important;
}

/* --- Hover State --- */
#urlbar:not([zen-floating-urlbar='true']):not([open]):hover .urlbar-background,
#urlbar:not([zen-floating-urlbar='true']):not([open]):hover .urlbar-input-container {
  transform: translateY(-2px) scale(1.05);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); 
}

#urlbar:not([zen-floating-urlbar='true']):not([open]):hover .urlbar-background {
  background-color: color-mix(in srgb, var(--zen-colors-primary-foreground) 30%, transparent) !important;
  box-shadow: inset 0 0 0 1.25px light-dark(rgba(255, 255, 255, 0.2), rgba(150, 150, 150, 0.5)) !important;
}

/* Zen site icon */
#zen-site-data-icon-button {
  margin-inline-start: -25px !important;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
  opacity: 1 !important;
}

#urlbar .urlbar-input-container:not(:hover) #zen-site-data-icon-button:not([open]) {
  opacity: 0 !important;
  transform: translateX(25px) scale(0.8) rotate(-5deg) !important;
}

#urlbar-go-button {
  display: flex !important;
  order: 99 !important;
  height: 22px !important;
  width: 22px !important;
}
#urlbar {
  &:not([open]) #urlbar-go-button {
    display: none !important;
  }
}

/* Hide stuff in the URL bar */
#urlbar:not([zen-floating-urlbar='true']) #zen-copy-url-button,
#urlbar:not([zen-floating-urlbar='true']) #urlbar-zoom-button,
#urlbar:not([zen-floating-urlbar='true']) #identity-icon-box,
#urlbar:not([zen-floating-urlbar='true']) #page-action-buttons {
  display: none !important;
}

/* Centered Urlbar and Searchbar */
#urlbar .urlbar-input {
  text-align: center !important;
}

/* ------------------ Results Rows Styling ------------------ */
/* Individual result appear animation */
.urlbarView-row {
  --animation-duration: .5s;
  --animation-duration-subtle: 0.5s;
  --animation-delay: 0.05s;
  --animation-delay-offset: 0s;
}

@keyframes individual-result-appear {
  100% {
    opacity: 1;
    scale: 1;
    background: transparent;
  }
}

@keyframes individual-result-appear-subtle {
  0% {
    opacity: 1;
    scale: 1;
    background: transparent;
  }

  60% {
    scale: 1.05;
    background: light-dark(var(--zen-primary-bg), var(--zen-colors-primary));
  }

  100% {
    opacity: 1;
    scale: 1;
    background: transparent;
  }
}

.urlbar-icon:hover {
  transform: scale(1.2);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

#urlbar-results,
#PopupAutoCompleteRichResult,
.autocomplete-richlistbox {
  overflow-y: auto !important;
  padding-right: 18px !important;
  margin-right: -18px !important;
}

.urlbarView-body-outer {
  overflow-x: hidden !important;
}

#urlbar {
  .urlbarView {
    overflow: initial !important;
  }

  &[breakout-extend] {
    animation-name: urlbar-appear;
    animation-duration: var(--animation-duration);

    @media (-moz-bool-pref: "zen.view.use-single-toolbar") {
      animation-name: urlbar-appear-sideways;
    }

    #urlbar-input {
      margin-left: 2px !important;
      margin-right: 0 !important;

      @media (-moz-bool-pref: "zen.view.use-single-toolbar") {
        margin-left: 4px !important;
      }
    }
  }

  &[breakout-extend]:is([pageproxystate="invalid"]):is([usertyping]) {
    .urlbarView-row,
    .urlbarView-row .urlbarView-type-icon {
      animation: none !important;
      opacity: 1 !important;
    }
  }
  
  .urlbarView-row {
    transition: transform 0.2s ease;
    transform: translateZ(0);
    will-change: transform, background;

    .urlbarView-row-inner {
      border-radius: 8px !important;
      transition: background 0.2s ease;
    }

    .urlbarView-title,
    .urlbarView-url {
      font-weight: 500 !important;
      margin-top: auto !important;
      margin-bottom: auto !important;
    }

    .urlbarView-title-separator {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }

    .urlbarView-button {
      display: none !important;
      min-width: 0 !important;
      min-height: 0 !important;
      width: 0 !important;
      height: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      opacity: 0;
      transition: all 0.2s ease !important;
    }

    .urlbarView-favicon {
      transition: background-color 0.2s ease !important;
    }

    &:active {
      transform: scale(0.95, 0.95);
    }

    &[selected] {
      background: transparent !important;
    }

    &:hover {
      background: transparent !important;

      .urlbarView-row-inner {
        background: var(--urlbarView-hover-background) !important;
      }

      .urlbarView-button {
        max-width: 24px !important;
        max-height: 24px !important;
        width: 24px !important;
        height: 24px !important;
        opacity: 1;
        margin-left: 2px !important;
        margin-right: 2px !important;
      }
    }

    .urlbarView-row-inner[selected] {
      background: var(--urlbarView-hover-background) !important;
    }
  }

  .urlbarView-title-separator::before {
    color: rgba(150, 150, 150, 0.9) !important;

    @media (prefers-color-scheme: dark) {
      color: rgba(255, 255, 255, 0.9) !important;
    }
  }

  .urlbarView-row[has-action]:is([type="switchtab"],
    [type="remotetab"],
    [type="clipboard"]) {
    .urlbarView-action {
      margin-left: 8px !important;
    }

    .urlbarView-title-separator::before {
      opacity: 0 !important;
    }
  }

  .urlbarView-row-inner .urlbarView-url {
    color: var(--zen-colors-primary-foreground) !important;
  }

  .urlbarView-row:hover .urlbarView-row-inner,
  .urlbarView-row-inner[selected] {
    .urlbarView-no-wrap .urlbarView-favicon {
      background-color: color-mix(in srgb, var(--zen-colors-primary-foreground) 80%, transparent) !important;
    }

    .urlbarView-url {
      color: var(--zen-colors-primary-foreground) !important;
    }
  }

  .urlbarView-action,
  .urlbarView-button,
  .searchbar-engine-one-off-item {
    --urlbar-box-focus-bgcolor: color-mix(in srgb, currentColor 30%, transparent);
    transition: background-color 0.2s ease !important;
    transform: translateZ(0);
    will-change: background-color;
  }

  .urlbarView-url {
    --urlbarView-second-line-indent: calc(var(--urlbarView-icon-margin-start) + var(--urlbarView-icon-margin-end) + var(--urlbarView-favicon-width) + 2px);
    color: var(--zen-colors-primary-foreground) !important;
  }

  .urlbarView-action {
    --urlbarView-second-line-indent: calc(var(--urlbarView-icon-margin-start) + var(--urlbarView-icon-margin-end) + var(--urlbarView-favicon-width) + 2px);
  }

  .urlbarView-body-inner,
  .search-one-offs {
    border-top: 0 0 0 1px inset light-dark(rgba(150, 150, 150, 0.9), rgba(255, 255, 255, 0.9)) !important;
  }
}
