/* URLbar styling */
#urlbar:not([open]) {
  .urlbar-background,
  .urlbar-input-container {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .urlbar-background {
    background-color: color-mix(in srgb, var(--zen-colors-primary-foreground) 10%, transparent) !important;
    box-shadow: inset 0 0 0 1px light-dark(rgba(255, 255, 255, 0.2), rgba(100, 100, 100, 0.5)) !important;
  }

  /* Hover State */
  &:hover {
      .urlbar-background,
      .urlbar-input-container {
        transform: translateY(-1px) scale(1.05);
        transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
      }
      .urlbar-background {
        background-color: color-mix(in srgb, var(--zen-colors-primary-foreground) 20%, transparent) !important;
        box-shadow: inset 0 0 0 1.25px light-dark(rgba(255, 255, 255, 0.2), rgba(150, 150, 150, 0.5)) !important;
      }
    }
  }
}
  
/* Zen site icon */
  #zen-site-data-icon-button {
    margin-inline-start: -25px !important;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
    opacity: 1 !important;
  }

  #urlbar .urlbar-input-container:not(:hover) #zen-site-data-icon-button:not([open]) {
    opacity: 0 !important;
    transform: translateX(25px) scale(0.8) rotate(-5deg) !important;
  }
/* Extension list */
#zen-site-data-addons {
  display: block !important;
}

#overflowed-extensions-list,
#zen-site-data-addons #unified-extensions-area,
#zen-site-data-addons .unified-extensions-list,
#zen-site-data-addons #zen-site-data-new-addon-button-container {
  &>* {
    width: 100% !important;
    height: auto !important;
    justify-content: normal !important;
    align-items: normal !important;
    margin-top: 5px !important;
  }

  .unified-extensions-item-name {
    display: block !important;
  }
}

.unified-extensions-item-action-button .toolbarbutton-text {
  display: flex !important;
}

/* Hide stuff in the URL bar */
#urlbar:not([open]) :is(#zen-copy-url-button, #urlbar-zoom-button, #identity-icon-box, #page-action-buttons) {
  display: none !important;
}

/* Centered Urlbar and Searchbar */
#urlbar .urlbar-input {
  text-align: center !important;
}

/* Results rows styling */
#urlbar[open] {
  top: 200px !important;

.urlbarView-body-outer {
  overflow-x: hidden !important;
}

 & .urlbar-background {
  backdrop-filter: blur(20px) saturate(140%) !important;
  background-color: light-dark(rgba(10, 10, 10, 0.9), rgba(0, 0, 0, 0.9)) !important;
  will-change: backdrop-filter;
} 
 
 .urlbarView-row {
    transition: transform 0.2s ease;
    will-change: transform, background;

    .urlbarView-row-inner {
      border-radius: 8px !important;
      transition: background 0.2s ease;
    }

    .urlbarView-title,
    .urlbarView-url {
      font-weight: 700 !important;
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
    
    .urlbarView-favicon {
      transition: background-color 0.2s ease !important;
    }

    &:active {
      transform: scale(0.95);
    }

    &[selected] {
      background: transparent !important;
    }

    &:hover {
      background: transparent !important;

      .urlbarView-row-inner {
        background: var(--urlbarView-hover-background) !important;
      }
    }

    .urlbarView-row-inner[selected] {
      background: var(--urlbarView-hover-background) !important;
    }
  }

  .urlbarView-title-separator {
    color: white !important;
  }

  .urlbarView-row-inner .urlbarView-url {
    color: color-mix(in srgb, var(--zen-colors-primary-foreground) 80%, white) !important;
  }
  
.urlbarView-row:hover .urlbarView-row-inner,
  .urlbarView-row-inner[selected] {
    .urlbarView-no-wrap .urlbarView-favicon {
      background-color: color-mix(in srgb, var(--zen-colors-primary-foreground) 80%, transparent) !important;
    }

    .urlbarView-url {
      color: color-mix(in srgb, var(--zen-colors-primary-foreground) 50%, white) !important;
    }
  }
}
