/* URLbar styling */
#urlbar:not([open]) {
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    
  .urlbar-background {
    background-color: color-mix(in srgb, var(--zen-colors-primary-foreground) 10%, transparent) !important;
    box-shadow: inset 0 0 0 1px color-mix(in srgb, var(--zen-colors-primary) 70%, white) !important;
  }

  /* Hover State */
  &:hover {
    :root[zen-single-toolbar="true"] & {
        transform: translateY(-1px) scale(1.03);
        transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
      }
      .urlbar-background {
        background-color: color-mix(in srgb, var(--zen-colors-primary-foreground) 20%, transparent) !important;
        box-shadow: inset 0 0 0 1.25px color-mix(in srgb, var(--zen-colors-primary) 60%, white) !important;
      }
    }
  }
   
/* Zen site icon */
  #zen-site-data-icon-button {
    margin-inline-start: -25px !important;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
    opacity: 1 !important;
  }

  #urlbar:not(:hover) #zen-site-data-icon-button:not([open]) {
    opacity: 0 !important;
    transform: translateX(25px) scale(0.8) rotate(-5deg) !important;
  }
  
.unified-extensions-item {
  flex: 1 !important;
 }
 
/* Hide stuff in the URL bar */
#urlbar:not([open]) :is(#zen-copy-url-button, #urlbar-zoom-button, #identity-icon-box, #page-action-buttons) {
  display: none !important;
}

/* Centered Urlbar and Searchbar */
#urlbar .urlbar-input {
  text-align: center !important;
}

/* Floating styling */
#urlbar[open][zen-floating-urlbar="true"] {
top : 190px !important;

.urlbarView-body-outer {
  overflow-x: hidden !important;
}

  .urlbarView-button {
      display: none !important;
   }

 & .urlbar-background {
  backdrop-filter: blur(10px) !important;
  background-color: color-mix(in srgb, var(--zen-colors-primary) 90%, transparent) !important;
} 

 .urlbarView-row-inner[selected] .urlbarView-favicon {
  background: none !important;
}

 .urlbarView-row {
    transition: transform 0.2s ease;
    will-change: transform, background;

    .urlbarView-row-inner {
      border-radius: 8px !important;
      transition: background 0.2s ease;
    }

    .urlbarView-title,
    .urlbarView-url {
      font-weight: 700 !important;
    }
    
    .urlbarView-favicon {
      transition: background-color 0.2s ease !important;
    }

    &:active {
      transform: scale(0.95);
    }

    &[selected] {
      background: transparent !important;
    }

    &:hover {
      background: transparent !important;

      .urlbarView-row-inner {
      background: color-mix(in srgb, var(--urlbarView-hover-background) 30%, transparent) !important;
      }
    }

    .urlbarView-row-inner[selected] {
      background: color-mix(in srgb, var(--urlbarView-hover-background) 50%, transparent) !important;
    }
  }

  .urlbarView-title-separator {
    color: white !important;
  }

  .urlbarView-row-inner .urlbarView-url {
    color: color-mix(in srgb, var(--zen-colors-primary-foreground) 70%, white) !important;
  }
  
.urlbarView-row:hover .urlbarView-row-inner,
  .urlbarView-row-inner[selected] {
    .urlbarView-no-wrap .urlbarView-favicon {
      background-color: color-mix(in srgb, var(--zen-colors-primary-foreground) 70%, transparent) !important;
    }

    .urlbarView-url {
      color: color-mix(in srgb, var(--zen-colors-primary-foreground) 50%, white) !important;
    }
  }
}
