/* ========================= Global Rule for Context Menu Icons (CMI) ========================= */
@media (not (-moz-pref("cmi-Switch-Icon-Package", 0))) {

/* ---------------------------
   🌟 Part 1 of global rule
   ---------------------------*/
   
:root {
  /* FluentUI */
@media (not (-moz-pref("cmi-Switch-Icon-Package", 0))) and (not (-moz-pref("cmi-Switch-Icon-Package", 2))) {
  --fp-contextmenu-menuitem-padding-inline: var(--fluentui-icons-leftmargin);
  --fp-contextmenu-menuicon-margin-inline: var(--fluentui-text-leftmargin);
  
  --group-padding: var(--fp-contextmenu-menuicon-margin-inline);
}

  --fp-arrowpanel-menuicon-margin-inline: 14px;
  --arrowpanel-menuitem-border-radius: 4px !important;
  --arrowpanel-menuitem-padding-block: 6px !important;
  --arrowpanel-menuitem-padding-inline: 10px !important;
  
@media (-moz-pref("cmi-Switch-Icon-Package", 2)) {
  --fp-contextmenu-menuitem-padding-inline: 10px;
  --fp-contextmenu-menuicon-margin-inline: var(--zenui-text-leftmargin);
}  
}

menu > .menu-iconic-text,
menuitem > .menu-iconic-text,
#context-navigation > .menuitem-iconic::after {
  padding-inline-start: var(--fp-contextmenu-menuicon-margin-inline) !important;
}

/* 校正容器标签页(Container-Tabs)菜单 */
menupopup#new-tab-button-popup,
menupopup#zenWorkspaceMoreActions menupopup,
menupopup#context_reopenInContainerPopupMenu {
/* 普通菜单项 & 子菜单容器，排除图标项、已勾选复选/单选、已分组和高亮项 */
> :is(menuitem, menu):not(
    .menuitem-iconic,
    .menu-iconic,

    [type="checkbox"][checked],
    [type="radio"][checked],

    .in-menulist,
    .in-menulist menuitem,
    .in-menulist menu,
    .unified-nav-current
  ),
/* 分组标题 */
> menucaption {
  padding-inline-start: var(--container-padding) !important;
}
}


/* ---------------------------
   🌟 Part 2 of global rule
   ---------------------------*/

  /* 1. 排除顶栏菜单和文字选取下拉
     2. 排除下载管理器菜单 / create-new / new-tab 弹出
     3. 排除：已勾选复选/单选、带图标、menulist 内的、unified-nav-current
  */
  :not(:not(menubar) > menu, #ContentSelectDropdown)
    > menupopup:not(#downloadsContextMenu,#zenCreateNewPopup,#new-tab-button-popup,#zenSiteDataActions,#pictureInPictureToggleContextMenu,menupopup[data-l10n-id="popup-notification-more-actions-button"],#viewButton > menupopup:nth-child(1),#blockedPopupOptions,.urlbarView-result-menu)
    > menuitem:not(
      .menuitem-iconic,
      [type="checkbox"][checked],
      [type="radio"][checked],
      .in-menulist,
      .in-menulist menuitem,
      .unified-nav-current
      ),
  :not(:not(menubar) > menu, #ContentSelectDropdown)
    > menupopup:not(#downloadsContextMenu,#zenCreateNewPopup,#new-tab-button-popup,#zenSiteDataActions,#pictureInPictureToggleContextMenu,menupopup[data-l10n-id="popup-notification-more-actions-button"],#viewButton > menupopup:nth-child(1),#blockedPopupOptions,.urlbarView-result-menu)
    > menu:not(
      .openintabs-menuitem,

      .menu-iconic,
      [type="checkbox"][checked],
      [type="radio"][checked],
      .in-menulist,
      .in-menulist menu,
      .unified-nav-current
      ),
  :not(:not(menubar) > menu, #ContentSelectDropdown)
    > menupopup:not(#downloadsContextMenu,#zenCreateNewPopup,#new-tab-button-popup,#zenSiteDataActions,#pictureInPictureToggleContextMenu,menupopup[data-l10n-id="popup-notification-more-actions-button"],#viewButton > menupopup:nth-child(1),#blockedPopupOptions,.urlbarView-result-menu)
    > menucaption {
      padding-inline-start: calc(
        var(--fp-contextmenu-menuitem-padding-inline)
        + var(--menuitem-padding-extra)
        + var(--fp-contextmenu-menuicon-margin-inline)
      ) !important;
  }

  :is(
  #cmi-show-more-menupopup,
  #cmi-show-more-menupopup-tab
  ) > menuitem:not(
    .openintabs-menuitem,
    .menuitem-iconic,
    [type="checkbox"][checked],
    [type="radio"][checked],
    .in-menulist,
    .in-menulist menuitem,
    .unified-nav-current
  ),
  :is(
  #cmi-show-more-menupopup,
  #cmi-show-more-menupopup-tab
  ) > menu:not(
    .openintabs-menuitem,
    .menu-iconic,
    [type="checkbox"][checked],
    [type="radio"][checked],
    .in-menulist,
    .in-menulist menu,
    .unified-nav-current
  ),
  :is(
  #cmi-show-more-menupopup,
  #cmi-show-more-menupopup-tab
  ) > menucaption {
  padding-inline-start: calc(
    var(--fp-contextmenu-menuitem-padding-inline)
    + var(--menuitem-padding-extra)
    + var(--fp-contextmenu-menuicon-margin-inline)
  ) !important;
}

/* ---------------------------
   🌟 Part 3 of global rule : special rules
   ---------------------------*/

@media not (-moz-platform: linux) {
  /* —— 当满足以下任意条件时，给所有子项统一添加内边距 —— */
  :is(
    /* 书签栏 */
    menupopup#placesContext:has(> menuitem:not([hidden])[checked]),
    /* 工具栏 */
    menupopup#toolbar-context-menu:has(> menuitem:not([hidden])[checked]),
    /* 标签栏 */
    menupopup#tabContextMenu:has(> menuitem:not([hidden])[checked]),
    /* 当循环或PIP勾选时 */
    menupopup#contentAreaContextMenu:has(> menuitem:not([hidden])[checked]),
    /* 当拼写检查勾选 */
    menupopup#contentAreaContextMenu:has(> menuitem#spell-check-enabled:is([checked])),
    /* 扩展菜单 */
    menupopup#unified-extensions-context-menu:has(> menuitem:not([hidden])[checked]),
    /* 当下载菜单有项目勾选 */
    menupopup#downloadsContextMenu:has(> menuitem:not([hidden])[checked]),
    /* 浏览器内置翻译器菜单 */
    menupopup#full-page-translations-panel-settings-menupopup:has(> menuitem:not([hidden])[checked]),
    /* Chat bot */
    menupopup#chatbot-menupopup:has(> menuitem:not([hidden])[checked]),
    menupopup#sidebar-history-menu:has(> menuitem:not([hidden])[checked]),
    #mainPopupSet > menupopup:not(#backForwardMenu):has(> menuitem:not([hidden])[checked]),
    #table-widget-column-select:has(> menuitem:not([hidden])[checked])
  
  ) {
    --checkmark-margin-left: var(--checkmark-margin-left_cover);
    --checkmark-margin-right: var(--checkmark-margin-right_cover);
    /* 普通菜单项 & 子菜单容器，排除图标项、已勾选复选/单选、已分组和高亮项 */
    > :is(menuitem, menu):not(
        .menuitem-iconic,
        .menu-iconic,

        [type="checkbox"][checked],
        [type="radio"][checked],

        .in-menulist,
        .in-menulist menuitem,
        .in-menulist menu,
        .unified-nav-current
      ),
      > :is(menuitem, menu):not(
        .menuitem-iconic,
        .menu-iconic,

        [type="checkbox"][checked],
        [type="radio"][checked],

        .in-menulist,
        .in-menulist menuitem,
        .in-menulist menu,
        .unified-nav-current
      ),
    /* 分组标题 */
    > menucaption {
      padding-inline-start: var(--group-padding) !important;
    }
  }
}

/* Linux */
@media (-moz-platform: linux) {
  /* —— 当满足以下任意条件时，给所有子项统一添加内边距 —— */
  :is(
    /* 书签栏 */
    menupopup#placesContext:has(> menuitem:not([hidden])[type="checkbox"]),
    /* 工具栏 */
    menupopup#toolbar-context-menu:has(> menuitem:not([hidden])[type="checkbox"]),
    /* 标签栏 */
    menupopup#tabContextMenu:has(> menuitem:not([hidden])[type="checkbox"]),
    /* 当循环或PIP勾选时 */
    menupopup#contentAreaContextMenu:has(> menuitem:not([hidden])[type="checkbox"]),
    /* 当拼写检查勾选 */
    menupopup#contentAreaContextMenu:has(> menuitem#spell-check-enabled:is([checked])),
    /* 扩展菜单 */
    menupopup#unified-extensions-context-menu:has(> menuitem:not([hidden])[type="checkbox"]),
    /* 当下载菜单有项目勾选 */
    menupopup#downloadsContextMenu:has(> menuitem:not([hidden])[type="checkbox"]),
    /* 浏览器内置翻译器菜单 */
    menupopup#full-page-translations-panel-settings-menupopup:has(> menuitem:not([hidden])[type="checkbox"])，
    /* Chat bot */
    menupopup#chatbot-menupopup:has(> menuitem:not([hidden]):is([type="checkbox"], [type="radio"])),
    menupopup#sidebar-history-menu:has(> menuitem:not([hidden]):is([type="checkbox"], [type="radio"])),
    #mainPopupSet > menupopup:not(#backForwardMenu):has(> menuitem:not([hidden]):is([type="checkbox"], [type="radio"])),
    #table-widget-column-select:has(> menuitem:not([hidden])[checked])
  ) {
    --checkmark-margin-left: var(--checkmark-margin-left_cover);
    --checkmark-margin-right: var(--checkmark-margin-right_cover);
    /* 普通菜单项 & 子菜单容器，排除图标项、已勾选复选/单选、已分组和高亮项 */
    > :is(menuitem, menu):not(
        .menuitem-iconic,
        .menu-iconic,

        [type="checkbox"][checked],
        [type="radio"][checked],

        .in-menulist,
        .in-menulist menuitem,
        .in-menulist menu,
        .unified-nav-current
      ),
    /* 分组标题 */
    > menucaption {
      padding-inline-start: var(--group-padding) !important;
    }
  }
}


/* =========================================================

   🌟 Part 4 of global rule : special rules for checkbox

   全局：同一 menupopup 中若存在任一未隐藏且已勾选的 checkbox，
   则对同一 menupopup 中其它未隐藏的 checkbox 菜单项应用 padding(fix for v1.9.4)
   可选：可以在上面的 menuitem 选择器里加上 :not(.menuitem-iconic) 进行排除“图标样式”的 menuitem（例如 .menuitem-iconic）。也许后面可能需要这个排除（？）
   ========================================================= */

@media not (-moz-platform: linux) {

/* 当 menupopup 下有被勾选的 checkbox、radio 时，
给同层级未勾选且不是父菜单的 checkbox、radio 子项增加 padding */
menupopup:has(> menuitem:is([type="checkbox"], [type="radio"]):not([hidden])[checked])
> menuitem:is([type="checkbox"], [type="radio"]):not([hidden]):not([checked]):not(:has(menupopup))
> .menu-text,
menupopup:has(> menuitem:is([type="checkbox"], [type="radio"]):not([hidden])[checked])
> menuitem:is([type="checkbox"], [type="radio"]):not([hidden]):not([checked]):not(:has(menupopup))
> .menu-highlightable-text {
padding-inline-start: var(--Non-checkmark-subitems-padding) !important;
box-sizing: border-box !important;
}
}


/* Linux */
@media (-moz-platform: linux) {
/* 当 menupopup 下有未被隐藏的 checkbox、radio 时，
给同层级未勾选且不是父菜单的 checkbox、radio 子项增加 padding */
menupopup:has(> menuitem:is([type="checkbox"], [type="radio"]):not([hidden]))
> menuitem:is([type="checkbox"], [type="radio"]):not([hidden]):not([checked]):not(:has(menupopup))
> .menu-text,
menupopup:has(> menuitem:is([type="checkbox"], [type="radio"]):not([hidden]))
> menuitem:is([type="checkbox"], [type="radio"]):not([hidden]):not([checked]):not(:has(menupopup))
> .menu-highlightable-text {
padding-inline-start: var(--Non-checkmark-subitems-padding) !important;
box-sizing: border-box !important;
}
}


/* App Menu Margin for Firefox */
  .addon-banner-item,
  .panel-banner-item {
    margin: 2px 4px 2px !important;
    padding-inline: 4px 12px !important;
    padding-block: var(--arrowpanel-menuitem-padding-block) !important;
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;
  }

  #appMenu-fxa-label2 label,
  #PanelUI-fxa-menu-syncnow-button label {
    margin-block: 0 !important;
  }

  .widget-overflow-list .toolbarbutton-1:not(.toolbarbutton-combined)>.toolbarbutton-text,
  .subviewbutton:not(#appMenu-zoom-controls > .subviewbutton,
  toolbarbutton[data-l10n-id="appmenu-remote-tabs-showmore"],toolbarbutton[data-l10n-id="appmenu-remote-tabs-show-inactive-tabs"] /* 💾 */
  )>.toolbarbutton-icon+.toolbarbutton-text,
  #appMenu-fxa-label2>vbox {
    padding-inline-start: var(--fp-arrowpanel-menuicon-margin-inline) !important;
  }

  /* special case menuitems with no icons */
  #appMenu-zoom-controls>.toolbarbutton-text,
  #fxa-manage-account-button>vbox,
  #PanelUI-fxa-menu-syncnow-button>hbox {
    padding-inline-start: calc(16px + var(--fp-arrowpanel-menuicon-margin-inline)) !important;
  }
  /* Icons Size
  .subviewbutton>.toolbarbutton-icon {
    width: 16px ;
  }
  */


@media (not (-moz-pref("cmi-Switch-Icon-Package", 2))) {
  #appMenuRecentlyClosedTabs,
  #appMenuRecentlyClosedWindows,
  #appMenuSearchHistory,
  #appMenuClearRecentHistory,
  #PanelUI-historyMore{
    --menu-image: none !important;
  }
}
}


/* Optional: Advanced customization (Force the relocation of the icons from the extensions) */
/* Easily change the positions of the icons in the context menu, as well as the location of the menu text (the distance between the text and the icons) */
@-moz-document url-prefix("chrome://browser/content/browser.xhtml") {
  @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
  /*
  :root {
    Icon top and bottom margin
    --zen-cmenu-icon-margin-block: 2px !important; 
    Icons size 
    --zen-cmenu-icon-size: 16px !important;
  }
 */
  /* ==== For all the icons in the context menus (mainly for the icons from the extensions, and then revert to the style of the CMI icons later ==== */
  menupopup > menuitem > .menu-icon,
  menupopup > menu > .menu-icon {
    /* Size 
    width: var(--zen-cmenu-icon-size);
    height: var(--zen-cmenu-icon-size);
    */
    /* Adjust the position of the extension icons (left margin) */
    margin-inline-start: var(--cmi-extension-icon-leftmargin);

    margin-inline-end: var(--zen-extensions-margin-right);
    /*
    margin-block-start: var(--zen-cmenu-icon-margin-block);
    margin-block-end: var(--zen-cmenu-icon-margin-block);
    */

    /* Reset the possible padding */
    padding: 0 !important;
  }

  /* ==== Force all text within context menus that contain expansions to move to the right ( After that, the margin rules of CMI can be used for correction.) ==== */
  menupopup > menuitem .menu-text,
  menupopup > menu .menu-text {
    padding-inline-start: 0 !important; /* Reset the possible padding */
    margin-inline-start: 0 !important;  /* Reset the possible margin */
    /* The position of the menu text */
    padding-inline-start: var(--cmi-menu-text-leftmargin) !important;
  }

}