/* CMI configs */
@import "modules/CMI/CMI-config.css";
@import "modules/CMI/icons.css";
/* Modules */
@import "modules/Window-Buttons.css";
@import "modules/Context-Menu.css";
@import "modules/Animations.css";
@import "modules/TabStyles.css";
@import "modules/TabGroups.css";
@import "modules/Sidebar.css";
@import "modules/Findbar.css";
@import "modules/URLbar.css";
